@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&family=Public+Sans:ital,wght@0,100;0,200;1,100&family=Shalimar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&family=Public+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Shalimar&display=swap');
:root {
    --main-color: #818EEA;
    --secondary-color: #FF0000;
    --accent-color: #00FF00;
}
*{
    padding: 0;
    margin: 0;
    font-family: Public Sans ,sans-serif;

}
.container{
    width: 1140px;
    margin: 0 auto;
    top: 0;

}
.body{
    margin: 0 auto;
    top: 0;
    color: #19272E;
}
a{
    color: #000bff;
    text-decoration: black;
}
.books-all {
    margin:0 10px  ;

}

.book-all img{
    margin: 0 5px;
}

.categories{
    align-items: flex-start;
    flex-direction: column;
    display: flex;
}
.categories label{
    display: flex;
    margin: 10px 0;
}
.categories h4{
    margin-left: 15px;
    font-size: 16px;
}
.books{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
}
.book-all{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    margin: 15px 10px;
    /*width: 304px;*/
}
.book-all h2{
    width: 200px;
    color: #19272E;
    font-size: 18px;
    font-family: Public Sans,sans-serif;
    line-height: 120%;
    margin: 10px 0;
}
.book-all h3{
    width: 200px;
    color: rgba(25, 39, 46, 0.66);
    font-size: 16px;
    font-family: Public Sans,sans-serif;
    line-height: 140%;

}
.category{
    align-items: flex-start;
    justify-content: space-between;
    display: flex;
}
.text h5{
    font-size: 36px;
}
.text h6{
    font-size: 20px;
    font-family: Inter,sans-serif;
    color: rgba(25, 39, 46, 0.66);
    margin: 10px 0;
}
.options{
    align-items: flex-end;
    display: flex;
    flex-direction: column;
}
.just{
    margin-bottom: 80px;
    width: 160px;
    height: 37px;
    border-radius: 8px;
    border: 1px solid  #818EEA;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-right: 15px;
}
.just span{
    color:  #818EEA;
    font-size: 13px;
    font-family: Inter,sans-serif;
    line-height: 26px;
    opacity: 0.5;

}
select {
    color:  #818EEA;
    outline: none;
}
.categories h4{
    margin-left: 15px;

}
.categories h1{
    font-size: 22px;
}
.categories a{
    margin-left: 17px;
    width: 100px;
    border-bottom: 1px solid #000bff;
}
.text{
    margin: 50px 0;
}
.categories input{
    border-radius: 10px;
}
input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 40%;
    border: 1px solid black;
    outline: none;
    cursor: pointer;
    margin-right: 8px;
}
input[type="checkbox"]:checked {
    background-color: #818EEA;
}
